<div class="container">
  <!-- Header Menu. Note use of headerCtrl -->
  <div class="w3-card-4">

<header class="w3-container w3-blue">
  <h1>About Sharemyride</h1>
</header>

<div class="w3-container">
  <p>This project had been designed with a significant featire improevment over the current CSUF carpooling online system which uses staic pages.Using modern ui elements and a modern UI and design,it will make the process more interactive for both drivers and passengers.</p>
  
</div>

<footer class="w3-container w3-blue">
  <h5>Created by Anay Uday Khairatkar for CSPSC 597</h5>
</footer>

</div>


</div>